.section1{
    display: grid;
    grid-template-columns: 42% 58%;
    position: relative;
    padding-bottom: 1.2vw;
}
.maps{
    width: 100%;
    height: auto;
    position: relative;
}
.maps iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    outline: none;
    border: none;
}
.section1_layout{
    background: linear-gradient(90deg, #1C0A56 0%, #280D6C 49.5%, #1C0A56 100%);
    width: 100%;
    position: relative;
    padding: 3vw 9vw;
}
.section1_form{
    margin-bottom: 1.9vw;
}
.section1_form h1{
    font-size: 1.8vw;
    color: white;
    font-weight: 700;
    margin-bottom: .2vw;
}
.form_field_double{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.3vw;
}
.form_field{
    display: flex;
    flex-direction: column;
    gap: .3vw;
    margin-bottom: .8vw;
}
.form_field label{
    font-size: .8vw;
    color: white;
    font-style: italic;
    font-weight: 300;
}
.form_field input{
    width: 100%;
    font-size: .97vw;
    font-style: italic;
    padding: .6vw .85vw;
    border-radius: .3vw;
    outline: none;
    background-color: #FFFCF4;
    border: .12vw solid #5E5E5E;
}
.form_field textarea{
    width: 100%;
    height: 6vw;
    resize: none;
    font-size: .97vw;
    font-style: italic;
    padding: .6vw .85vw;
    border-radius: .3vw;
    outline: none;
    background-color: #FFFCF4;
    border: .12vw solid #5E5E5E;
}
.section1_form form button{
    font-size: .91vw;
    font-weight: 600;
    color: #00887E;
    padding: .82vw 4vw;
    border-radius: 100vw;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}
.customCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: .9vw;
    font-weight: 300;
    color: white;
    margin-bottom: 1vw;
  }
  
  .hiddenCheckbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .customCheckmark {
    display: inline-block;
    width: 1.3vw;
    height: 1.3vw;
    background: #D9D9D94D;
    border-radius: .3vw;
    margin-right: .6vw;
    position: relative;
    transition: background-color 0.3s;
    border: .12vw solid #5D5D5D;
  }
  
  .customCheckmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .customCheckbox input:checked + .customCheckmark:after {
    display: block;
  }
  
  .customCheckbox .customCheckmark:after {
    left: .4vw;
    top: .2vw;
    width: .22vw;
    height: .46vw;
    border: solid white;
    border-width: 0 .12vw .12vw 0;
    transform: rotate(45deg);
  }

.divider_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.4vw;
    z-index: 2;
    background: linear-gradient(90deg, #00887E 0%, #009E96 49.5%, #00887E 100%);
}