@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

.swiper-slide img{
  width: 100%;
}

.divider_banner{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.6vw;
  z-index: 5;
  background: linear-gradient(90deg, #00887E 0%, #009E96 49.5%, #00887E 100%);
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 4vw !important;
  left: auto;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 4vw !important;
  right: auto;
}

.swiperArtikelPage .swiper-button-next, .swiperArtikelPage .swiper-rtl .swiper-button-prev {
  right: 2vw !important;
  left: auto;
}
.swiperArtikelPage .swiper-button-prev, .swiperArtikelPage .swiper-rtl .swiper-button-next {
  left: 2vw !important;
  right: auto;
}
.swiperArtikelPage .swiper-pagination{
  display: none !important;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44* 27);
  height:5.9vw !important;
  margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
  background-color: rgba(255, 255, 255, 0.164) !important;
  backdrop-filter: blur(.4vw) !important; /* Menentukan intensitas blur */
  -webkit-backdrop-filter: blur(.4vw) !important;
  border: .11vw solid rgba(255, 255, 255, 0.664) !important;
  padding: 2.4vw !important;
  border-radius: 1.2vw !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 1.8vw !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.mySwiper .swiper-pagination-fraction, .mySwiper .swiper-pagination-custom, .mySwiper .swiper-horizontal > .swiper-pagination-bullets, .mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 3vw !important;
}

.mySwiper .swiper-pagination-bullet {
  width: .7vw !important;
  height: .7vw !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: white !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.mySwiper .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.mySwiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .5vw !important;
}

.swiperPartner .swiper-wrapper{
  padding-bottom: 5vw !important;
}
@media (max-width:768px) {
  .swiperPartner .swiper-wrapper{
    padding-bottom: 12vw !important;
  }
  .swiperArtikelPage .swiper-pagination{
    display: block !important;
  }
}

.swiperPartner .swiper-pagination-bullet {
  width: .8vw !important;
  height: .8vw !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: #009E96 !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.swiperPartner .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiperPartner .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiperPartner .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .57vw !important;
}

@media (max-width:768px) {
  .swiperPartner .swiper-pagination-bullet {
    width: 1.7vw !important;
    height: 1.7vw !important;
  }
  .swiperPartner .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiperPartner .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 .8vw !important;
  }
}

.swiperArtikel{
  padding: 0 11.4vw !important;
}
.swiperArtikelPage{
  padding: 0 8.8vw !important;
}
.swiperArtikelAbout .swiper-wrapper{
  border-radius: 2vw !important;
}
.swiperArtikelPage .swiper-wrapper{
  border-radius: 2vw !important;
}
@media (max-width:768px) {
  .swiperArtikel{
    padding: 0 5vw !important;
  }
}

.swiperArtikel .swiper-wrapper{
  padding-bottom: 5vw !important;
}
@media (max-width:768px) {
  .swiperArtikel .swiper-wrapper{
    padding-bottom: 12vw !important;
  }
}
.swiperArtikel .swiper-pagination-bullet {
  width: .8vw !important;
  height: .8vw !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: #009E96 !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
.swiperArtikelAbout .swiper-pagination-bullet {
  width: .8vw !important;
  height: .8vw !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: #ffffff !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.swiperArtikel .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiperArtikel .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiperArtikel .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .57vw !important;
}
@media (max-width:768px) {
  .swiperArtikel .swiper-pagination-bullet {
    width: 2.3vw !important;
    height: 2.3vw !important;
  }
  .swiperArtikel .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiperArtikel .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 .97vw !important;
  }
}
.swiperArtikel .swiper-button-prev, .swiperArtikel .swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44* 27);
  height:5.9vw !important;
  margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
  background-color: rgba(255, 255, 255, 0.164) !important;
  backdrop-filter: blur(.4vw) !important; /* Menentukan intensitas blur */
  -webkit-backdrop-filter: blur(.4vw) !important;
  border: .11vw solid #009e9685 !important;
  padding: 2.4vw !important;
  border-radius: 1.2vw !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #009E96 !important;
}
.swiperArtikelAbout .swiper-button-prev, .swiperArtikelAbout .swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44* 27);
  height:5.9vw !important;
  margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
  background-color: rgba(255, 255, 255, 0.164) !important;
  backdrop-filter: blur(.4vw) !important; /* Menentukan intensitas blur */
  -webkit-backdrop-filter: blur(.4vw) !important;
  border: .11vw solid #ffffff85 !important;
  padding: 2.4vw !important;
  border-radius: 1.2vw !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
}
@media (max-width:768px) {
  .swiper-slide img{
    height: 90vw;
    object-fit: cover;
  }
  .swiper-button-prev, .swiper-button-next {
    border: .12vw solid rgba(255, 255, 255, 0.664) !important;
    padding: 5vw !important;
    border-radius: 100vw !important;
  }
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 3.3vw !important;
  }
  .mySwiper .swiper-pagination-bullet {
    width: 1.9vw !important;
    height: 1.9vw !important;
  }
  .mySwiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1.2vw !important;
  }
  .swiperArtikel .swiper-button-prev, .swiperArtikel .swiper-button-next{
    display: none;
  }
}