.nav{
    background-color: white;
    display: grid;
    grid-template-columns: 14% 86%;
    padding: 0 3.4vw;
    padding-bottom: 1.6vw;
    padding-right: 0;
}
.logo{
    padding-bottom: .5vw;
    
}
.logo img{
    width: 95%;
    margin-right: auto;
    margin-bottom: -5.2vw;
}
.header_layout_top{
    background-color: #009E96;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8vw 0;
    padding-right: 3.3vw;
    padding-left: 3.5vw;
    position: relative;
}
.decoration{
    position: absolute;
    left: -1.1vw;
    top: -2vw;
    height: 6vw;
    transform: rotate(-35deg);
    width: 2vw;
    background-color: white;
}
.header_content{
    align-items: center;
    display: flex;
}
.header_contact{
    padding: 0 1.2vw;
    display: flex;
    align-items: center;
    gap: .4vw;
    border-right: .1vw solid white;
    color: white;
}
.header_contact:last-child{
    border-right: none;
}
.header_contact svg{
    font-size: 1.1vw;
}
.header_contact span{
    font-size: .78vw;
}
.sosmed_layout{
    display: flex;
    gap: .84vw;
}
.sosmed_box{
    display: flex;
    align-items: center;
}
.sosmed_box svg{
    font-size: 1vw;
    color: white;
}
.header_layout_bottom{
    padding-right: 11vw;
}
.header_layout_bottom ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.3vw;
    margin-top: 1.67vw;
}
.header_layout_bottom ul li{
    list-style: none;
    font-size: 1.16vw;
    font-weight: 400;
    color: #280D6C;
    position: relative;
}
.header_layout_bottom ul li span{
    list-style: none;
    font-size: 1.16vw;
    font-weight: 400;
    color: #280D6C;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .2vw;
}
.header_layout_bottom ul li span svg{
    font-size: 1vw;
}
.header_layout_bottom ul li.active a {
    color: #009E96; /* Active menu item color */
    font-weight: 600;
}
.activeSpan {
    font-weight: 600 !important;
    color: #009E96 !important;
  }
.search_header{
    margin-left: 1.3vw;
    border-left: .1vw solid white;
    border-right: .1vw solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1vw .9vw;
}
.search_header input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: .77vw;
}
.search_header input::placeholder{
    color: rgba(255, 255, 255, 0.616);
}
.search_header svg{
    font-size: 1vw;
    color: white;
}
.hamburger{
    display: none;
}
.close_button{
    display: none;
}
.header_layout_bottom ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: .45vw 2.7vw;
    padding-left: 1vw;
    margin: 0;
    z-index: 3;
    border-radius: 1vw;
    box-shadow: 0px 4px 5.8px 0px #00000040;

}
.header_layout_bottom ul li ul li {
    width: max-content;
    font-size: 1.1vw;
    margin: .7vw 0;
}

.header_layout_bottom ul li ul li a {
    color: #280D6C;
    text-decoration: none; 
    display: block; 
}
.header_layout_bottom ul li ul li a:hover {
    color: #009E96;
}
.show {
    display: block !important;
}
@media (max-width:768px) {
    .nav{
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 1.9vw 4vw;
        padding-right: 4vw;
    }
    .logo{
        padding-top: 0;
        padding-bottom: 0;
    }
    .logo img{
        width: 24vw;
        margin-right: auto;
    }
    .hamburger{
        display: block;
        background-color: transparent;
        outline: none;
        border: none;
    }
    .hamburger svg{
        font-size: 9vw;
        color: #009E96;
    }
    .header_layout_top{
        display: none;
    }
    .header_layout{
        position: fixed;
        transform: translateX(100%);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.356);
        transition: .4s all;
        opacity: 0;
    }
    .header_layout.active{
        transform: translateX(0);
        opacity: 1;
    }
    .header_layout_bottom{
        background-color: #280D6C;
        width: 60%;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        padding: 6.5vw 4vw;
        border-right: 1.7vw solid #009E96;
        transform: translateX(-400%);
        transition: .4s all;
    }
    .header_layout.active .header_layout_bottom{
        transform: translateX(0);
    }
    .header_layout_bottom ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
    }
    .header_layout_bottom ul li{
        font-size: 4.5vw;
        width: 100%;
        color: white;
        border-bottom: .1vw solid rgba(255, 255, 255, 0.342);
    }
    .header_layout_bottom ul li a{
        display: block;
        width: 100%;
        padding: 4.4vw 0;
    }
    .header_layout_bottom ul li span{
        font-size: 4.5vw;
        padding: 4.4vw 0;
        color: white;
        gap: .2vw;
    }
    .header_layout_bottom ul li span svg{
        font-size: 3.6vw;
    }
    .header_layout_bottom ul li ul {
        display: none;
        position: relative;
        top: 100%;
        left: 0;
        background-color: white;
        padding: 0 0;
        padding-left: 0;
        margin: 0;
        z-index: 3;
        border-radius: 1vw;
        box-shadow: 0px 4px 5.8px 0px #00000040;
    
    }
    .header_layout_bottom ul li ul li {
        width: 100%;
        font-size: 4.5vw;
        margin: 0vw 0;
    }
    
    .header_layout_bottom ul li ul li a {
        color: #280D6C;
        text-decoration: none; 
        display: block; 
        border-bottom: .1vw solid #009E96;
        width: 100%;
        padding: 4vw 3vw;
    }
    .header_layout_bottom ul li ul li:last-child a{
        border: none;
    }
    .header_layout_bottom ul li ul li a:hover {
        color: #009E96;
    }
    .close_button{
        display: block;
        position: absolute;
        right: 4vw;
        top: 4vw;
        width: 10vw;
        height: 10vw;
        border-radius: 100vw;
        background-color: #009E96;
        outline: none;
        border: .2vw solid #280D6C;
    }
    .close_button svg{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 6.5vw;
        color: #280D6C;
    }
}