.section2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin-top: -.6vw;
}
.section2_image{
    width: 100%;
    height: 34.3vw;
    position: relative;
}
.section2_image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.divider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.4vw;
    z-index: 2;
    background: linear-gradient(90deg, #00887E 0%, #009E96 49.5%, #00887E 100%);
}
.divider_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.4vw;
    z-index: 2;
    background: linear-gradient(90deg, #00887E 0%, #009E96 49.5%, #00887E 100%);
}

.section2_text{
    padding: 5.7vw;
    background-image: url(../public/images/overlay_right.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 0;
}
.section2_text span{
    font-size: 1.2vw;
    font-weight: 500;
    color: #009E96;
}
.section2_text h1{
    font-size: 2.45vw;
    text-transform: capitalize;
    padding-right: 12vw;
    font-weight: 700;
    line-height: 1.2;
    color: #280D6C;
    margin-top: 1.3vw;
    margin-bottom: 1.4vw;
}
.section2_text p{
    font-size: 1.12vw;
    padding-right: 7vw;
    color: #1A0353;
}

.section2_layout{
    margin-top: 2.5vw;
    display: flex;
    gap: 1.85vw;
}
.section2_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #280D6C;
    padding: 1vw 1.2vw;
    border-radius: .47vw;
    width: 8.6vw;
}
.section2_box img{
    margin-bottom: .6vw;
    width: 4vw;
}
.section2_box h5{
    font-size: 1.13vw;
    font-weight: 400;
    color: white;
}

.section3{
    width: 100%;
}
 
.section3_layout_1{
    padding: 4.3vw 0;
    padding-bottom: 18vw;
    text-align: center;
    background-image: url(../public/images/section3_bg.png);
    background-position: center;
    background-size: cover;
}
.section3_layout_1 h1{
    font-size: 2.45vw;
    line-height: 1.2;
    color: #280D6C;
    margin-bottom: 1.4vw;
}
.section3_layout_1 p{
    font-size: 1.12vw;
    color: #1A0353;
    padding: 0 26vw;
}

.section3_layout_2{
    width: 100%;
    background: linear-gradient(90deg, #08827C 0%, #00887E 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    grid-gap: 3.2vw;
    padding: 0 11.7vw;
    padding-bottom: 4.7vw;
}
.section3_layout_box{
    text-align: center;
    margin-top: -11.5vw;
}
.section3_layout_image{
    width: 20vw;
    height: 17.2vw;
    position: relative;
    background: radial-gradient(90.09% 90.09% at 50% 9.91%, #280D6C 0%, #1C0A56 100%);
    border: .25vw solid #00887E;
    border-radius: 1.7vw;
    margin: auto;
    margin-bottom: 2.5vw;
}
.section3_layout_image img{
    position: absolute;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    top: 0;
    left: 0;
}
.section3_layout_box h1{
    font-size: 1.82vw;
    color: white;
    margin-bottom: 1vw;
}
.section3_layout_box p{
    font-size: 1.09vw;
    color: white;
    font-weight: 300;
}

.section4_layout{
    background: linear-gradient(90deg, #1C0A56 0%, #280D6C 49.5%, #1C0A56 100%);
    text-align: center;
    padding-top: 4.7vw;
    padding-bottom: 15vw;
}
.section4_layout h1{
    font-size: 2.45vw;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 1.4vw;
}
.section4_layout p{
    font-size: 1.12vw;
    color: #ffffff;
    padding: 0 28vw;
}
.section4_layout2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 13vw;
    grid-gap: 6vw;
    margin-top: -15.7vw;
    padding-bottom: 7.4vw;
    position: relative;
    background-image: url(../public/images/section3_bg.png);
    background-position: bottom;
    background-size: cover;
}
.section4_box{
    text-align: center;
}
.section4_box img{
    width: 100%;
    margin-bottom: 1.17vw;
}
.section4_box h2{
    font-size: 1.87vw;
    color: #200B5E;
    margin-bottom: 1.16vw;
}
.section4_box button{
    background-color: #200B5E;
    color: white;
    font-size: 1.07vw;
    font-weight: 300;
    padding: .66vw 1.4vw;
    border-radius: 100vw;
    outline: none;
    border: none;
    cursor: pointer;
}

.section5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section5_image img{
    width: 100%;
}
.section5_content{
    padding: 4.7vw 6.2vw;
    padding-right: 10vw;
    padding-bottom: 0;
    position: relative;
}
.section5_content span{
    font-size: 1.2vw;
    font-weight: 500;
    color: #009E96;
}
.section5_content h1{
    font-size: 2.33vw;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.2;
    color: #280D6C;
    margin-top: 1.3vw;
    margin-bottom: 1.85vw;
}

.searchResi{
    display: flex;
    align-items: center;
    padding: 0 1.52vw;
    border: .1vw solid #280D6C;
    border-radius: .6vw;
    margin-bottom: 1.55vw;
    background: #009B9314;
}
.searchResi input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.09vw;
    padding: 1.13vw 0;
    background-color: transparent;
    color: #009E96;
}
.searchResi input::placeholder{
    color: #009E96;
}
.searchResi svg{
    font-size: 1.77vw;
    color: #009E96;
}

.section5_content button{
    font-size: 1.09vw;
    padding: .9vw 2.7vw;
    border-radius: .7vw;
    outline: none;
    border: none;
    background-color: #009E96;
    color: white;
    cursor: pointer;
}

.box_icon{
    position: absolute;
    right: 7vw;
    bottom: .7vw;
    width: 14.5vw;
}

.section6{
    padding: 6vw 13.3vw;
    padding-bottom: 5.5vw;
    text-align: center;
    background: linear-gradient(180.14deg, rgba(255, 255, 255, 0) 1.76%, rgba(0, 158, 150, 0.18) 99.88%);
    position: relative;
}
.section6 h1{
    font-size: 2.33vw;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.2;
    padding: 0 16vw;
    margin-bottom: 4.7vw;
    color: #280D6C;
}
.section6_layout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.4vw;
}
.section6_box{
    text-align: center;
}
.section6_box h4{
    text-transform: uppercase;
    font-size: 1.1vw;
    color: #019991;
    margin-bottom: 1.2vw;
}
.section6_box p{
    font-size: .94vw;
    color: #280D6C;
}
.section6_image{
    width: 100%;
    height: 14.4vw;
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 158, 150, 0.15) 0%, rgba(1, 153, 145, 0.15) 100%);
    border: .2vw solid #009E96;
    border-radius: 1.6vw;
    overflow: hidden;
    margin-bottom: 1.2vw;
}
.section6_image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img_right{
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 9.6vw;
}
.img_left{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 12.6vw;
}

.section7{
    background: linear-gradient(90deg, #1C0A56 0%, #280D6C 49.5%, #1C0A56 100%);
    width: 100%;
    padding: 11.6vw 6.6vw;
    padding-top: 5.1vw;
}
.section7_heading{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4.5vw;
}
.section7_heading h1{
    font-size: 2.33vw;
    text-transform: capitalize;
    font-weight: 700;
    color: white;
}
.section7_heading a{
    font-size: 1.2vw;
    text-decoration: underline;
    color: white;
    text-decoration-thickness: .06vw;
    font-weight: 300;
}

.partner_slide{
    padding: 0 7.3vw;
    margin-bottom: -34vw;
}
.partner_box{
    background: radial-gradient(50% 50% at 50% 50%, #009E96 0%, #009189 100%);
    width: 100%;
    height: 7.9vw;
    position: relative;
    border-radius: 1.5vw;
}
.partner_box img{
    width: 76%;
    height: 76%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-position: center;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.section8{
    margin-top: 14.7vw;
    text-align: center;
    background-image: url(../public/images/section3_bg.png), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 158, 150, 0.33) 100%);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 4.2vw;
    position: relative;
}
.section8 span{
    font-size: 1.2vw;
    font-weight: 500;
    color: #009E96;
}
.section8 h1{
    font-size: 2.33vw;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.2;
    color: #280D6C;
    margin-top: 1.3vw;
    margin-bottom: 1.85vw;
    padding: 0 29vw;
}

.artikel_slide{
    padding: 0 2.2vw;
    margin-top: 4vw;
}
.box_artikel{
    border-radius: 1.7vw;
    overflow: hidden;
    width: 100%;
}
.image_artikel{
    width: 100%;
    height: 18.5vw;
    position: relative;
}
.image_artikel img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.content_artikel{
    background-color: white;
    text-align: start;
    padding: 2vw;
    padding-top: 1.7vw;
}
.content_artikel span{
    font-size: .92vw;
    font-weight: 400;
}
.content_artikel h2{
    font-size: 1.92vw;
    font-weight: 600;
    color: #280D6C;
    margin-top: .68vw;
    margin-bottom: .8vw;
}
.content_artikel p{
    color: #280D6C;
    font-size: 1.06vw;
    padding-right: 4vw;
}
.content_artikel button{
    margin-top: 1.75vw;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #009E96;
    font-size: 1vw;
    color: white;
    font-weight: 500;
    padding: .8vw 1.9vw;
    border-radius: .6vw;
}

.popup_lacak{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
}
.popup_lacak.active{
    display: flex;
}
.overlay{
    background: #0000008A;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.popup_box{
    width: 30%;
    height: 90vh;
    background-image: url(../public/images/papper_bg.png);
    background-position: center;
    background-size: cover;
    z-index: 2;
    border-radius: .86vw;
    padding: 1.2vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.popup_box::-webkit-scrollbar {
    width: 10px;
    display: block;
  }
  
  /* Track */
.popup_box::-webkit-scrollbar-track {
    background: #e4e4e4; 
  }
   
  /* Handle */
.popup_box::-webkit-scrollbar-thumb {
    background: #280D6C; 
  }
.popup_heading{
    display: flex;
    justify-content: flex-start;
    gap: .6vw;
    align-items: center;
    background-color: #009E96;
    border-radius: .6vw;
    padding: .77vw 1vw;
    margin-bottom: 1.1vw;
}
.popup_heading svg{
    color: white;
    font-size: 1.2vw;
}
.popup_heading h3{
    font-size: 1.2vw;
    color: white;
    font-weight: 600;
}

.from_to{
    width: 100%;
    display: grid;
    grid-template-columns: 23% 77%;
    background-color: #280d6c10;
    border-radius: .6vw;
    overflow: hidden;
    margin-bottom: 1.1vw;
}
.from_to_icon{
    background-color: #280D6C;
    padding: .9vw 1vw;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: .7vw;
}
.from_to_icon svg{
    font-size: 1.2vw;
}
.from_to_icon span{
    font-size: .9vw;
}
.from_to_address{
    padding: .9vw 1vw;
}
.from_to_address h3{
    font-size: 1vw;
    color: #1A0353;
}

.shipping_status{
    margin-top: 2.7vw;
}
.shipping_status_process{
    width: 100%;
    padding: .7vw 0;
    padding-right: 3vw;
    padding-bottom: 0vw;
    border-left: .12vw solid #009E96;
    margin: 0 2vw;
}
.shipping_status_box{
    position: relative;
    padding-left: 1.1vw;
    margin-bottom: 1.1vw;
}
.shipping_status_box::before{
    position: absolute;
    left: -.57vw;
    top: .13vw;
    width: .5vw;
    height: .5vw;
    border-radius: 100vw;
    border: .3vw solid #009E96;
    background-color: white;
    content: '';
}
.shipping_status_box h5{
    text-transform: uppercase;
    font-size: .86vw;
    color: #280D6C;
}
.shipping_status_box span{
    font-style: italic;
    font-size: .75vw;
    font-weight: 500;
    color: #009E96;
}

.user_shipping{
    padding: 0 1.55vw;
    display: flex;
    gap: .6vw;
}
.user_shipping svg{
    font-size: .9vw;
    color: #009E96;
}
.user_shipping_data span{
    font-size: .86vw;
    font-weight: 600;
    color: #009E96;
}
.user_shipping_data h1{
    text-transform: uppercase;
    font-size: 1.4vw;
    margin-top: .3vw;
    color: #1A0353;
}
.user_shipping_data h3{
    text-transform: uppercase;
    font-size: 1.1vw;
    margin-top: .5vw;
    color: #1A0353;
}
.flex_column_gap{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.popup_menu{
    display: none;
}

@media (max-width:768px) {
    .popup_box{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: 0;
        padding-bottom: 4vw;
    }
    .popup_box::-webkit-scrollbar {
        display: none;
    }
    .popup_menu{
        position: sticky;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 5;
        display: flex;
        align-items: center;
        padding: 3.7vw;
        gap: 3vw;
        border-bottom: .1vw solid #280D6C;
        margin-bottom: 3vw;
    }
    .popup_menu svg{
        font-size: 4.5vw;
        color: #009E96;
    }
    .popup_menu h3{
        font-size: 3.8vw;
        color: #1A0353;
    }
    .popup_heading{
        gap: 2vw;
        border-radius: 2vw;
        padding: 2.7vw 3.7vw;
        margin: 3.7vw;
        margin-bottom: 4vw;
    }
    .popup_heading svg{
        font-size: 4.3vw;
    }
    .popup_heading h3{
        font-size: 4vw;
    }

    .from_to{
        width: 90%;
        display: grid;
        grid-template-columns: 23% 77%;
        background-color: #280d6c10;
        border-radius: 2vw;
        overflow: hidden;
        margin: auto;
        margin-bottom:3.4vw;
    }
    .from_to_icon{
        padding: 3vw 1vw;
        gap: 1.7vw;
    }
    .from_to_icon svg{
        font-size: 4vw;
    }
    .from_to_icon span{
        font-size: 3.5vw;
    }
    .from_to_address{
        padding: 3vw 4vw;
    }
    .from_to_address h3{
        font-size: 3.7vw;
    }

    .shipping_status{
        margin-top: 8vw;
    }
    .shipping_status_process{
        padding: 1.4vw 0;
        padding-bottom: 0;
        border-left: .7vw solid #009E96;
        width: 80%;
        margin: auto;
    }
    .shipping_status_box{
        padding-left: 5vw;
        margin-bottom: 5vw;
    }
    .shipping_status_box h5{
        font-size: 3.7vw;
    }
    .shipping_status_box span{
        font-size: 3.1vw;
    }
    .shipping_status_box::before{
        left: -1.87vw;
        top: .13vw;
        width: 1.8vw;
        height: 1.8vw;
        border: 1vw solid #009E96;
    }

    .user_shipping{
        padding: 0 0;
        width: 83%;
        margin: auto;
        display: flex;
        gap: 2.6vw;
    }
    .user_shipping svg{
        font-size: 4.3vw;
    }
    .user_shipping_data span{
        font-size: 3.5vw;
    }
    .user_shipping_data h1{
        font-size: 7vw;
        margin-top: 2vw;
    }
    .user_shipping_data h3{
        font-size: 4.1vw;
        margin-top: 3vw;
    }
    
    .section2{
        grid-template-columns: repeat(1, 1fr);
        margin-top: -1.3vw;
    }
    .section2_image{
        height: 78vw;
    }
    .section2_text{
        padding: 5vw;
        padding-top: 9vw;
        padding-bottom: 9vw;
    }
    .section2_text span{
        font-size: 3.8vw;
    }
    .section2_text h1{
        font-size: 5.4vw;
        line-height: 1.4;
        padding-right: 12vw;
        margin-top: 2.7vw;
        margin-bottom: 2.7vw;
    }
    .section2_text p{
        font-size: 3.8vw;
        padding-right: 7vw;
    }
    .section2_layout{
        margin-top: 6vw;
        gap: 3.5vw;
    }
    .section2_box{
        padding: 3.7vw 4.2vw;
        border-radius: 3vw;
        width: 27vw;
    }
    .section2_box img{
        margin-bottom: 3vw;
        width: 10vw;
    }
    .section2_box h5{
        font-size: 3.8vw;
    }

    .section3_layout_1{
        padding: 7.5vw 0;
        padding-bottom:7.5vw;
        background-image: none;
        background: linear-gradient(90deg, #08827C 0%, #00887E 100%);
    }
    .section3_layout_1 h1{
        font-size: 5.5vw;
        line-height: 1.4;
        color: white;
        font-weight: 500;
        margin-bottom: 2.2vw;
    }
    .section3_layout_1 p{
        font-size: 3.8vw;
        color: white;
        padding: 0 5vw;
    }
    .section3_layout_2{
        grid-template-columns: repeat(1, 1fr);
        align-items: flex-start;
        grid-gap: 9.5vw;
        padding: 2vw 5vw;
        padding-bottom: 9.5vw;
    }
    .section3_layout_box{
        text-align: center;
        margin-top: 0;
    }
    .section3_layout_image{
        width: 60vw;
        height: 47vw;
        border: .25vw solid #00887E;
        border-radius: 5vw;
        margin-bottom: 5vw;
    }
    .section3_layout_box h1{
        font-size: 5.5vw;
        font-weight: 500;
        margin-bottom: 2.3vw;
    }
    .section3_layout_box p{
        font-size: 3.8vw;
    }

    .section4_layout{
        background: linear-gradient(90deg, #1C0A56 0%, #280D6C 49.5%, #1C0A56 100%);
        text-align: center;
        padding-top: 8.7vw;
        padding-bottom: 0;
    }
    .section4_layout2{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 5vw;
        grid-gap: 0;
        margin-top: 0;
        padding-bottom: 14.4vw;
        position: relative;
        background-image: inherit;
        background: linear-gradient(90deg, #1C0A56 0%, #280D6C 49.5%, #1C0A56 100%);
    }
    .section4_layout h1{
        font-size: 5.5vw;
        line-height: 1.4;
        color: white;
        font-weight: 500;
        margin-bottom: 2.2vw;
    }
    .section4_layout p{
        font-size: 3.8vw;
        color: white;
        padding: 0 5vw;
    }
    .section4_box img{
        width: 80%;
        margin-bottom: 2.4vw;
    }
    .section4_box h2{
        font-size: 5.9vw;
        color: white;
        margin-bottom: 4vw;
    }
    .section4_box button{
        background-color: white;
        color: #200B5E;
        font-size: 3.8vw;
        font-weight: 500;
        padding: 2vw 5vw;
    }

    .section5{
        display: flex;
        flex-direction: column-reverse;
    }
    .section5_content{
        padding: 5vw;
        padding-top: 9vw;
        padding-bottom: 14vw;
        padding-right: 5vw;
        position: relative;
    }
    .section5_content span{
        font-size: 3.8vw;
    }
    .section5_content h1{
        font-size: 5.4vw;
        line-height: 1.4;
        margin-top: 2.7vw;
        margin-bottom: 2.7vw;
    }
    .searchResi{
        padding: 0 3.52vw;
        border: .12vw solid #280D6C;
        border-radius: 1.9vw;
        margin-bottom: 4vw;
        margin-top: 6vw;
    }
    .searchResi input{
        font-size: 3.8vw;
        padding: 2.4vw 0;
    }
    .searchResi svg{
        font-size: 4.7vw;
    }
    .section5_content button{
        font-size: 3.8vw;
        padding: 1.9vw 4.3vw;
        border-radius: 1.9vw;
    }
    .box_icon{
        position: absolute;
        right: 14vw;
        bottom: -1vw;
        width: 27.5vw;
    }

    
    .section6{
        padding: 13vw 5vw;
        padding-bottom: 13.5vw;
        background-image: url(../public/images/section3_bg.png);
        background-position: bottom center;
        background-size: cover;
    }
    .section6 h1{
        font-size: 4.7vw;
        line-height: 1.4;
        padding: 0 0;
        margin-bottom: 6.5vw;
    }
    .section6_layout{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 11vw;
    }
    .section6_image{
        width: 60%;
        margin: auto;
        height: 44.4vw;
        border: .3vw solid #009E96;
        border-radius: 4.6vw;
        margin-bottom: 3.7vw;
    }
    .section6_box h4{
        font-size: 4vw;
        margin-bottom: 2.2vw;
    }
    .section6_box p{
        font-size: 3.8vw;
    }
    .img_left{
        position: absolute;
        left: -25vw;
        bottom: 0;
        width: 72.6vw;
        display: none;
    }
    .img_right{
        position: absolute;
        right: -34vw;
        bottom: 0;
        width: 60vw;
        display: none;
    }

    .section7{
        background: linear-gradient(90deg, #1C0A56 0%, #280D6C 49.5%, #1C0A56 100%);
        width: 100%;
        padding: 8.6vw 0;
        padding-top: 11.1vw;
    }
    .section7_heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 0 0;
        gap: 2.9vw;
        margin-bottom: 0;
    }
    .section7_heading h1{
        font-size: 4.4vw;
    }
    .section7_heading a{
        font-size: 3.2vw;
    }
    .partner_slide{
        background: linear-gradient(90deg, #1C0A56 0%, #280D6C 49.5%, #1C0A56 100%);
        padding: 0 5vw;
        padding-top: 8vw;
        margin-bottom: 0;
    }
    .partner_box{
        height: 14vw;
        border-radius: 2vw;
    }

    .section8{
        margin-top: 2vw;
        padding-top: 8vw;
        padding-bottom: 8.2vw;
    }
    .section8 span{
        font-size: 3.8vw;
    }
    .section8 h1{
        font-size: 5vw;
        line-height: 1.4;
        margin-top: 2.4vw;
        margin-bottom: 7.3vw;
        padding: 0 5vw;
    }
    .artikel_slide{
        padding: 0 0;
        margin-top: 6vw;
    }

    .section8 span{
        font-size: 3.8vw;
    }
    .box_artikel{
        border-radius: 3.5vw;
    }
    .image_artikel{
        height: 47vw;
    }
    .content_artikel span{
        font-size: 3.6vw;
    }
    .content_artikel{
        padding: 4vw;
        padding-top: 3.4vw;
    }

    .content_artikel h2{
        font-size: 4.7vw;
        margin-top: 1.3vw;
        margin-bottom: 2.5vw;
    }
    .content_artikel p{
        font-size: 3.8vw;
        padding-right: 4vw;
    }
    .content_artikel button{
        margin-top: 5.75vw;
        font-size: 3.8vw;
        padding: 2.4vw 3.4vw;
        border-radius: 1.6vw;
    }
}
